{
  "http_interactions": [
    {
      "recorded_at": "2016-08-05T15:00:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "Bearer <ACCESS_TOKEN>"
        },
        "method": "DELETE",
        "uri": "http://neurovault.org/api/collections/1612/"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Allow": "GET, PUT, PATCH, DELETE, HEAD, OPTIONS"
        },
        "status": {
          "code": 204,
          "message": "NO CONTENT"
        },
        "url": "http://neurovault.org/api/collections/1612/"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}