{
  "http_interactions": [
    {
      "recorded_at": "2016-08-05T19:25:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"\"}"
        },
        "headers": {
          "Authorization": "Bearer <ACCESS_TOKEN>",
          "Content-Type": "application/json"
        },
        "method": "POST",
        "uri": "http://neurovault.org/api/collections/"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\":[\"This field may not be blank.\"]}"
        },
        "headers": {
          "Allow": "GET, POST, HEAD, OPTIONS",
          "Content-Type": "application/json; charset=utf-8"
        },
        "status": {
          "code": 400,
          "message": "BAD REQUEST"
        },
        "url": "http://neurovault.org/api/collections/"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}