{
  "http_interactions": [
    {
      "recorded_at": "2020-07-20T22:37:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"\"}"
        },
        "headers": {
          "Authorization": [
            "Bearer <ACCESS_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://neurovault.org/api/collections/"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\":[\"This field may not be blank.\"]}"
        },
        "headers": {
          "Allow": [
            "GET, POST, HEAD, OPTIONS"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "status": {
          "code": 400,
          "message": "BAD REQUEST"
        },
        "url": "https://neurovault.org/api/collections/"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}